[submodule "submodules/v80-vitis-flow"]
	path = submodules/v80-vitis-flow
	url = git@gitenterprise.xilinx.com:aulmamei/v80-vitis-flow.git
[submodule "submodules/pcie-hotplug-drv"]
	path = submodules/pcie-hotplug-drv
	url = git@gitenterprise.xilinx.com:aulmamei/pcie-hotplug-drv.git
[submodule "submodules/qdma_drv"]
	path = submodules/qdma_drv
	url = https://github.com/Xilinx/dma_ip_drivers.git
